/*from Luna*/

header h1 {
  color: goldenrod !important;
  position: relative;
  font-size: 30px !important;
  margin-top: 15px;
  border-top: 3px solid darkgrey;
  border-bottom: 3px solid darkgrey;
  
}
header  {
  height: 100px;
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-family: 'Cantarell', sans-serif;
}
header ul {
  
  left: 300px;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
header h1 {
  float: left;
  padding: 10px 0;
}
nav  {
  text-align: right;
  padding-right: 0px;
  padding-top: 20px;
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 10px;
  
}
nav a {
  color: goldenrod !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
}
nav a:hover {
  color: darkgrey;
  text-decoration: none;
}
nav a::before {
  text-decoration: none;
  content: '';
  display: block;
  height: 5px;
  margin-top: 25px;
  background-color: goldenrod;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;

}
nav a:hover::before {
  width: 50px !important;
  text-decoration: none;
}

.card-body {
    padding-left: 90px !important;
    padding-right: 90px !important;
}

.col-md-6 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

/*media screen from Reuben*/

@media screen and (max-width: 1200px){

header ul {
  
    }
header::after {
  content: '';
  display: table;
  clear: both;
    }
header h1 {
  float: left;
  padding: 10px 0;
    }
nav  {
  float: left;
  padding-right: 0px;
  padding-top: 15px;
  padding-left: 40px !important;
    }
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
    }
nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;
  
    }
nav a {
  color: goldenrod !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
    }
nav a:hover {
  color: darkgrey;
  text-decoration: none;
    }
nav a::before {
  text-decoration: none;
  content: '';
  display: block;
  height: 5px;
  margin-top: 20px;
  background-color: goldenrod;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
    }
nav a:hover::before {
  width: 50px;
  text-decoration: none;
    }   
img {
    width: 1000px !important;
    }
}


@media screen and (max-width: 960px){

header ul {
  
    }
header::after {
  content: '';
  display: table;
  clear: both;
    }
header h1 {
  float: left;
  padding: 10px 0;
    }
nav  {
  float: left;
  padding-right: 0px;
  padding-top: 15px;
  padding-left: 40px !important;
    }
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
    }
nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;
  
    }
nav a {
  color: goldenrod !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
    }
nav a:hover {
  color: darkgrey;
  text-decoration: none;
    }
nav a::before {
  text-decoration: none;
  content: '';
  display: block;
  height: 5px;
  margin-top: 20px;
  background-color: goldenrod;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
    }
nav a:hover::before {
  width: 50px;
  text-decoration: none;
    }   
img {
    width: 700px !important;
    }
}


@media screen and (max-width: 768px){

header ul {
  
    }
header::after {
  content: '';
  display: table;
  clear: both;
    }
header h1 {
  float: left;
  padding: 10px 0;
    }
nav  {
  float: left;
  padding-right: 0px;
  padding-top: 15px;
  padding-left: 40px !important;
    }
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
    }
nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;
  
    }
nav a {
  color: goldenrod !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
    }
nav a:hover {
  color: darkgrey;
  text-decoration: none;
    }
nav a::before {
  text-decoration: none;
  content: '';
  display: block;
  height: 5px;
  margin-top: 20px;
  background-color: goldenrod;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
    }
nav a:hover::before {
  width: 50px;
  text-decoration: none;
    }   
img {
    width: 500px !important;
    }
}

@media screen and (max-width: 640px){

header ul {
  
    }
header::after {
  content: '';
  display: table;
  clear: both;
    }
header h1 {
  float: left;
  padding: 10px 0;
    }
nav  {
  float: left;
  padding-right: 0px;
  padding-top: 15px;
  padding-left: 40px !important;
    }
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
    }
nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;
  
    }
nav a {
  color: goldenrod !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
    }
nav a:hover {
  color: darkgrey;
  text-decoration: none;
    }
nav a::before {
  text-decoration: none;
  content: '';
  display: block;
  height: 5px;
  margin-top: 25px;
  background-color: goldenrod;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
    }
nav a:hover::before {
  width: 50px;
  text-decoration: none;
    }   
.image {
    display: none;
    }
    
}


@media screen and (max-width: 580px){

header ul {
  
    }
header::after {
  content: '';
  display: table;
  clear: both;
    }
header h1 {
  float: left;
  padding: 10px 0;
    }
nav  {
  float: left;
  padding-right: 0px;
  padding-top: 15px;
  padding-left: 40px !important;
    }
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
    }
nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;
  
    }
nav a {
  color: goldenrod !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
    }
nav a:hover {
  color: darkgrey;
  text-decoration: none;
    }
nav a::before {
  text-decoration: none;
  content: '';
  display: block;
  height: 5px;
  margin-top: 20px;
  background-color: goldenrod;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
    }
nav a:hover::before {
  width: 50px;
  text-decoration: none;
    } 
    
.image {
    display: none;
    }

}

@media screen and (max-width: 537px){

header ul {
  
    }
header::after {
  content: '';
  display: table;
  clear: both;
    }
header h1 {
  float: left;
  padding: 10px 0;
    }
nav  {
  float: left;
  padding-right: 0px;
  padding-top: 15px;
  padding-left: 40px !important;
    }
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
    }
nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;
  
    }
nav a {
  color: goldenrod !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
    }
nav a:hover {
  color: darkgrey;
  text-decoration: none;
    }
nav a::before {
  text-decoration: none;
  content: '';
  display: block;
  height: 5px;
  margin-top: 107px;
  background-color: goldenrod;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
    }
nav a:hover::before {
  width: 50px;
  text-decoration: none;
    }
    
.image {
    display: none;
    }

}

@media screen and (max-width: 360px){

header ul {
  
    }
header::after {
  content: '';
  display: table;
  clear: both;
    }
header h1 {
  float: left;
  padding: 10px 0;
    }
nav  {
  float: left;
  padding-right: 0px;
  padding-top: 15px;
  padding-left: 10px !important;
    }
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
    }
nav li {
  display: inline-block;
  margin-left: 10px;
  padding-top: 10px;
  
    }
nav a {
  color: goldenrod !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
    }
nav a:hover {
  color: darkgrey;
  text-decoration: none;
    }
nav a::before {
  text-decoration: none;
  content: '';
  display: block;
  height: 5px;
  margin-top: 107px;
  background-color: goldenrod;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
    }
nav a:hover::before {
  width: 40px;
  text-decoration: none;
    }   
    
.image {
    display: none;
    }
}

html, body {
  height: 100%;
}

/*from Reuben portfolio*/

body {
    font-family: 'Cinzel', serif;
    font-family: 'Cantarell', sans-serif;
    line-height: 34px;
    text-align: left;
    display: flex;
    flex-direction: column;

}

p {
    font-size: 16px !important;
    color: black !important;
    font-family: 'Cantarell', serif !important;
    margin-top: 20px !important;
    margin-bottom: 20px;
}
 

/*new CSS*/

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: darkgrey!important;
    font-size: 24px !important;
    font-family: 'Cinzel', serif !important;
}

h2 {
    padding-bottom: 20px;
    font-size: 22px !important;
    color: darkgrey !important;
    font-family: 'Cinzel', serif !important; 
}

h3 {
    font-size: 20px !important;
    color: darkgrey !important;
    font-family: 'Cinzel', serif !important;
}

h4 {
    font-size: 18px !important;
    color: darkgrey!important;
    font-family: 'Cinzel', serif !important;
}

.content {
  flex: 1 0 auto;
}

.card-footer {
    background-color: darkgrey !important;
    flex-shrink: 0;
}

h5 {
    font-size: 24px !important;
    color: white!important;
    font-family: 'Cinzel', serif !important;
}

.form-inline {
    padding-top: 10px;
    padding-bottom: 10px;
    
}

/*from Luna*/

a {
    transition: 0.8s ease;
    color: goldenrod!important;
    text-decoration-line: none; 
}

a::before {
  text-decoration: none;
  content: '';
  
  height: 5px;
  
  background-color: goldenrod;
  
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
a:hover::before {
  width: 105px !important;
  text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none !important;
}

a:hover {
    color: darkgrey !important; 
    text-decoration: none !important;
}

a:active {
    color: darkgey !important;
    text-decoration: none !important;
}

/*from Reuben*/

#submit {
    float: right;
    font-size: 36px !important;
    color: white !important;
    background-color: goldenrod;
    font-family: 'Cantarell', serif !important;
    margin-top: 20px !important;
    margin-bottom: 25px !important;   
}

#dropdownMenuButton {
    font-size: 20px !important;
    color: white !important;
    background-color: darkgray;
    font-family: 'Cantarell', serif !important;
    margin-top: 20px !important;
    margin-bottom: 20px;
    border: 0px;
}

#notes {
    color: red;
    padding-left: 20px;
}

#del-button
{
    color: white !important;
    background-color: goldenrod !important;
}

#northbound, #southbound {
    display: none;
    margin-top: 20px;
}

hr {
    border: 2px solid goldenrod !important;
}

/*from Luna*/

.price-container {
    text-align: center;
}

.price-container .btn {
    float: right;
}

.jumbotron {
    background-color: darkgray !important;
}

.map {
    margin: auto;
    width: 50%;
}

